*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'ubunturegular';
    background-color:#ebebeb ;
}
header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
header div.left{

}
header div.left img{
    width:70px;
}

header div.right{
}
header div.right ul{
    display: flex;
    list-style: none;

}
header div.right ul li{
    margin-left: 40px;
    padding-bottom: 5px;
}
header div.right ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #254B72;


}
header div.right ul li:hover{
    border-bottom: 1px solid #254B72;
}
main{
    display: flex;
    height: calc(100vh - 100px);
    padding: 0 10%;
    align-items: center;
}
main div.left{
    text-align: left;

}
main div.left h1{
    width: 70%;
    font-size: 45px;
    margin-bottom: 40px;
    color: #254b72;
    letter-spacing: 1px;
}
main div.left p{
    width: 70%;
    margin-bottom: 40px;
    color: #424242;
    letter-spacing: .5px;
}
main div.left div.bottom a.button{
    padding: 12px 18px;
    background-color: #254B72;
    border-radius: 10px;
    color: #ebebeb;
    text-decoration: none;
    font-weight: 600;
    
}
main div.right{
    display: flex;
    justify-content: center;
}
main div.right img{
    width: 100%;
    animation: thrill 5s alternate-reverse;

}
@keyframes thrill{
    0%,50%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}
#feature {
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
}
#feature div.left{

}
#feature div.left img{
    animation: thrill 5s alternate 2s;
}
#feature div.right{
    padding-right: 10%;
}
#feature div.right h2{
    color: #ebebeb;
    font-size: 45px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
#feature div.right p{
    font-size: 18px;
    color: #ebebeb;
    margin-bottom: 50px;
    letter-spacing: .5px;
}
#feature div.right a.button{
    padding: 12px 16px;
    background-color:#254b72;
    color: #ebebeb;
    text-decoration: none;
    border-radius: 10px;
}
#player{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player div.left{
    padding-left: 20%;
    width: 60%;
}
#player div.left h1{
    width: 60%;
    font-size: 45px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}
#player div.left p{
    width: 60%;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
#player div.left a.button{
    padding: 12px 16px;
    background-color: #000;
    border-radius: 10px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 600;
    letter-spacing: 1px;
}
#player div.right{
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#player div.right img{
    width: 100%;
}
#testimonial{
    background-color: #0A0A0A;

}
#testimonial div.content{
    padding: 10% 0;
}
#testimonial div.content ul{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

}
#testimonial div.content ul li{
    width: 33%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 40px 0;
    margin-right: 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 80px;
}
#testimonial div.content ul li:nth-child(2){
    margin-right: 0;
}
#testimonial div.content ul li:last-child{
    margin-right: 0;
}
#testimonial div.content ul li div.top img{
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    border-bottom: 3px solid #424242;
    position: absolute;
    bottom:80%;
    right:40%;
}
#testimonial div.content ul li h6{
    margin: 30px 0;
    font-size: 16px;
    color: #424242;
    letter-spacing: 1px;    
}
#testimonial div.content ul li p{
    width: 60%;
    margin: 0 auto;
    color: #424242;
    letter-spacing: 1px;

}
#testimonial div.content ul li img.star{
    width: 100px;
    margin-top: 20px;
}
footer{
    padding:10%;
    padding-bottom: 40px;
}
footer div.container{
    display: flex;
    justify-content: space-between;
}
footer div.container div.left{
    
}
footer div.container div.left h1{

}
footer div.container div.left h1 a{
    
}
footer div.container div.left h1 a img{
    width: 100px;
}
footer div.container div.left ul{
    list-style: none;
}
footer div.container div.left ul li{
    margin-top: 30px;
}
footer div.container div.left ul li a{
    text-decoration: none;
    color: #424242;
}
footer div.container div.left div.social{
    margin-bottom: 50px;
}
footer div.container div.left div.social ul{
    display: flex;
}
footer div.container div.left div.social ul li{
    margin-right: 30px;
}
footer div.container div.left div.social ul li a:hover{
    color: #333fad;
    transition: 1s ease-in-out;
}
footer div.container div.left div.social ul li a{
    font-size: 22px;
    
}
footer div.container div.right{
    display: flex;
}
footer div.container div.right div.item{
    margin-left: 100px;
}
footer div.container div.right div.item h3{
    color: #424242;
    margin-bottom: 30px;
}
footer div.container div.right div.item ul{
    list-style: none;
}
footer div.container div.right div.item ul li{
    margin-bottom: 20px;
}
footer div.container div.right div.item ul li a{
    text-decoration: none;
    color: #424242;
}
footer div.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
footer div.bottom div.left{
    
}
footer div.bottom div.left select{
    padding: 3px 30px;
    border-radius: 8px;
}
footer div.bottom div.left select option{
    
}
footer div.bottom div.right ul{
    display: flex;
    list-style: none;
}
footer div.bottom div.right ul li{
    margin-right: 20px;
}
footer div.bottom div.right ul li:last-child{
    margin-right: 0;
}
footer div.bottom div.right ul li a{
    text-decoration: none;
    color: #424242;
}
footer div.bottom div.right ul li a:hover{
    text-decoration: underline;
}
@media all and (max-width:1280px){
    #feature div.left img{
        width: 100%;
    }
    #feature div.right{
        width: 60%;
    }
    #player div.right img{
        width: 90%;
    }
    #player div.left{
        width: 100%;
    }
    #player div.left p{
        width: 90%;
    }
    #testimonial div.content ul li div.top img{
        bottom: 85%;
        right: 35%;
    }
}
@media all and (max-width:980px){
    #player{
        padding: 10% 0;
    }
    #player div.left p{
        width: 100%;
        font-size: 18px;
    }
    #player div.left h1{
        width: 80%;
        font-size: 40px;
    }
    #testimonial div.content ul li div.top img{
        right: 32%;
        bottom: 85%;
    }
    footer div.container div.right{
        flex-wrap: wrap;
        width: 60%;
    }
    footer div.container div.right div.item{
        margin-bottom: 40px;
    }
}
@media all and (max-width:768px){
    header div.right ul li a{
        font-size: 12px;
    }
    main{
        flex-direction: column-reverse;
    }
    main div.left{
        margin-bottom: 100px;
    }
    main div.left h1{
        font-size: 30px;
        width: 60%;
    }
    main div.left p{
        font-size: 16px;
    }
    main div.right img{
        width: 60%;
    }
    main div.left div.bottom a.button{
        padding: 10px 12px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    #feature{
        flex-direction: column;
    }
    #feature div.left{
        text-align: center;
    }
    #feature div.left img{
        width: 70%;
    }
    #feature div.right h2{
        font-size: 30px;
    }
    #feature div.right p{
        font-size: 16px;
    }
    #feature div.right a.button{
        padding: 10px 12px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    #player{
        display: block;
    }
    #player div.left{
        width: 60%;
    }
    #player div.left h1{
        font-size: 30px;
    }
    #player div.left p{
        font-size: 16px;
    }
    #player div.left a.button{
        padding: 10px 12px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    #player div.right{
        text-align: center;
    }
    #player div.right img{
        width: 60%;
    }
    #testimonial div.content ul li p{
        font-size: 12px;
    }
    #testimonial div.content ul li div.top img{
        right: 28%;
    }
    #testimonial div.content ul li img.star{
        width: 80px;
    }
    footer div.container{
        text-align: center;
    }footer div.container div.right div.item ul li a{
        font-size: 12px;
    }
    footer div.container div.right{
        display: flex;
        width: 100%;

    }
    footer div.container div.right div.item{
        margin-right: 50px;
        width: 10%;
    }
    @media all and (max-width:640px){
        #testimonial div.content ul li{
            width: 40%;
        }
        #testimonial{
            padding: 10%;
        }
        #testimonial div.content ul li p{
            font-size: 10px;
        }
        footer div.container div.right div.item h3{
            font-size: 12px;
        }
        footer div.container div.right div.item ul li{
            font-size: 10px;
        }
        footer div.container div.right div.item{
            width: 15%;
        }
        footer div.container{
            display: block;
        }
        footer div.bottom div.right ul li a{
            font-size: 12px;
        }
        footer div.bottom div.left select{
            padding: 3px 20px;
        }
        footer div.container div.left div.social ul{
            justify-content: center;
        }
    }
    @media all and (max-width:640px){
        header div.right ul{
            display: none;
        }
        header{
            justify-content: center;
        }
        main div.left h1{
            width: 80%;
            font-size: 26px;
        }
        main div.right img{
            width: 80%;
        }
        main div.left p{
            width: 100%;
            font-size: 12px;
        }
        main div.left div.bottom a.button{
            padding: 10px 16px;
        }
        #feature{
            padding: 20% 0;
        }
        #feature div.right h2{
            font-size: 26px;
        }
        #feature div.right p{
            font-size: 12px;
        }
        #feature div.left img{
            margin-bottom: 30px;
        }
        #feature div.left a.button{
            padding: 10px 12px;
            font-size: 12px;
        }
        #player div.left h1{
            font-size: 26px;
        }
        #player div.left p{
            font-size: 12px;
        }
        #player div.left a.button{
            padding: 10px 12px;
            font-size: 12px;
        }
        #testimonial{
            padding-top: 30%;
        }
        #testimonial div.content ul li{
            width: 60%;
        }
        #testimonial div.content ul li div.top img{
            right: 23%;
        }
        #testimonial div.content ul li:nth-child(1n){
            margin-right: 0;
        }
        footer div.container div.left ul li a{
            font-size: 14px;
        }
        
        footer div.container div.left ul li:nth-child(4){
            margin-right: 0px;
        }
        footer div.container div.right{
            display: flex;
        }
        footer div.container div.right div.item{
            width: 30%;
            margin: 10px 30px;
        }
        footer div.container div.right div.item h2{
            font-size: 16px;
        }
        footer div.container div.right div.item ul li a{
            font-size: 10px;
        }
        footer div.bottom div.right ul li a{
            font-size: 10px;
        }
        @media all and (max-width:360px){
            main div.right img{
                width: 130%;
            }
            #feature div.left img{
                width: 100%;
            }
            #player div.right img{
                width: 100%;
            }
            #testimonial div.content ul li{
                width: 80%;
            }
            #testimonial div.content ul li p{
                width: 90%;
            }
            #testimonial div.content ul li div.top img{
                right: 25%;
            }
            #testimonial div.content ul li div.top img{
                width: 80px;
                bottom: 85%;
                right: 30%;
            }
            footer div.bottom div.left div.social:last-child{
                margin: 0;
            }
            footer div.bottom div.left select{
                font-size: 10px;
            }
        }
        @media all and (max-width:320px){
            main div.left h1{
                font-size: 24px;
            }
            main div.left p{
                font-size: 10px;
            }
            main div.left div.bottom a.button{
                padding: 8px 10px;
                font-size: 10px;
            }
            #feature div.right h2{
                font-size: 24px;
            }
            #feature div.right p{
                font-size: 10px;
            }
            #feature div.right a.button{
                padding: 8px 10px;
                font-size: 10px;
            }
            #player div.left h1{
                font-size: 24px;
            }
            #player div.left p{
                font-size: 10px;
            }
            #player div.left a.button{
                padding: 8px 10px;
                font-size: 10px;
            }
            #testimonial div.content ul li div.top img{
                width: 70px;
            }
            footer div.container div.right div.item{
                margin: 0;
                width: 50%;
            }
            footer div.bottom{
                display: block;
            }
            footer div.bottom select{
                margin-bottom: 30px;
            }
        }
    }
    
}